nav{
  padding: 5px;
  padding-bottom: 0px;
}

nav a{
  margin-right: 10px;
}

button i{
  margin-right: 5px;
}

nav button{
  padding: 10px;
} 


/* .btn-origin{
  text-align: center;
}

.btn-right{
  text-align: right;
} */